{% extends 'base.html' %}
{% load staticfiles %}
{% load cache %}

{% block title %}
    学科竞赛|比赛报名
{% endblock %}

{% block is_activate5 %}
    active
{% endblock %}

{% block content %}
    <div id="contest-show" class="head-board">
    <div class="container">
        <div class="row">
            <h1>竞赛报名</h1>
            <div class="border-down"></div>
            <!--放竞赛-->
            <div id="contest-signUp">
                {% for flag,com in com_list %}
                <div class="msg-piece">
                    <a href="/competition/com_detail?com_id={{ com.com_id }}" class="msg-a">
                        <h4 class="inline-block">
                            <span class="label label-success mgr10">报名中</span>
                            {{ com.com_name }}
                        </h4>
                        {% if flag == 0 %}
                        <h3 class="red">未报名</h3>
                        {% else %}
                        <h3 class="green">已报名</h3>
                        {% endif %}
                        <h5>比赛类型：{{ com.get_type_display }}</h5>
                        <h5>报名开始：{{ com.begin_regit }}</h5>
                        <h5>报名截止：{{ com.end_regit }}</h5>
                    </a>
                </div>
                {% empty %}

                {% endfor %}
                <!--已报名就用green，未报名就用red-->
            </div>
        </div>
    </div>
</div>

    <!--
    <div id="bmlb">
        <div class="container">

            <div class="biaoti">
                <h1 class="biaoti">个人赛</h1>
                <div class="border"></div>
            </div>
            {% for com_list in com_list_one %}
                <div class="row">
                    {% for com in com_list %}
                        <div class="col-md-3 col-sm-6">
                            <div class="table-bordered">
                                <img class="img-responsive myimg" src="/media/{{ com.series_id.photo }}" alt="acm">
                                <div class="member">
                                    <h3>{{ com.com_name }}</h3>
                                    <p>报名开始：<br>{{ com.begin_regit }}</p>
                                    <p>报名截止：<br>{{ com.end_regit }}</p>
                                    <a class="btn btn-transparent"
                                       href="/competition/com_detail?com_id={{ com.com_id }}">报名</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% empty %}
                <h4>暂无进行中比赛</h4>
            {% endfor %}
            <div class="biaoti">
                <h1 class="biaoti">团队赛</h1>
                <div class="border"></div>
            </div>
            {% for com_list in com_list_all %}
                <div class="row">
                    {% for com in com_list %}
                        <div class="col-md-3 col-sm-6">
                            <div class="table-bordered">
                                <img class="img-responsive myimg" src="/media/{{ com.series_id.photo }}" alt="acm">
                                <div class="member">
                                    <h3>{{ com.com_name }}</h3>
                                    <p>报名开始：<br>{{ com.begin_regit }}</p>
                                    <p>报名截止：<br>{{ com.end_regit }}</p>
                                    <a class="btn btn-transparent"
                                       href="/competition/com_detail?com_id={{ com.com_id }}">报名</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% empty %}
                <h4>暂无进行中比赛</h4>
            {% endfor %}
        </div>
    </div>
    -->
{% endblock %}