{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|首页
{% endblock %}

{% block is_activate1 %}
    active
{% endblock %}

{% block content %}
    <!--学生风采-->
    <div class="head-board deep-black">
        <div class="container">
            <div class="row">
                <div class="show-part">
                    <h1 class="text-center">学生风采</h1>
                    <div class="border-down"></div>
                    <div class="col-md-6">
                        <img class="img-responsive picture" src="{% static 'sources/img/6661.jpg' %}"/>
                    </div>
                    <div class="col-md-6">
                        <h3 class="show-text">第十届“蓝桥杯”全国软件和信息技术专业人才大赛</h3>
                        <p class="show-text sz15">
                            第十届“蓝桥杯”全国软件和信息技术专业人才大赛全国总决赛颁奖典礼在北京大学举行。我校信息科学技术学院派出25名选手参加比赛，最终24人获奖！
                            其中，JAVA 软件开发大学B组获得二等奖1项、三等奖1项，C/C++程序设计大学B组获得二等奖7项、三等奖4项、优秀奖11项。
                        </p>
                        <p class="show-text sz15 mgb30">
                            本届大赛由工业和信息化部主办,共有来自全国31个省、市、自治区1200 多所高校的6万余名选手报名参加个人赛的角逐。
                            我校信息科学技术学院共有145名学生报名参赛，经过省赛筛选后，25名学生进入国赛总决赛。
                        </p>
                        <a href="#" class="btn-custom">了解更多</a>
                    </div>
                </div>
                <div class="show-part">
                    <h1 class="text-center">学生风采</h1>
                    <div class="border-down"></div>
                    <div class="col-md-6">
                        <img class="img-responsive picture" src="{% static 'sources/img/6662.jpg' %}"/>
                    </div>
                    <div class="col-md-6">
                        <h3 class="show-text">第十届“蓝桥杯”全国软件和信息技术专业人才大赛</h3>
                        <p class="show-text sz15">
                            第十届“蓝桥杯”全国软件和信息技术专业人才大赛全国总决赛颁奖典礼在北京大学举行。我校信息科学技术学院派出25名选手参加比赛，最终24人获奖！
                            其中，JAVA 软件开发大学B组获得二等奖1项、三等奖1项，C/C++程序设计大学B组获得二等奖7项、三等奖4项、优秀奖11项。
                        </p>
                        <p class="show-text sz15 mgb30">
                            本届大赛由工业和信息化部主办,共有来自全国31个省、市、自治区1200 多所高校的6万余名选手报名参加个人赛的角逐。
                            我校信息科学技术学院共有145名学生报名参赛，经过省赛筛选后，25名学生进入国赛总决赛。
                        </p>
                        <a href="#" class="btn-custom">了解更多</a>
                    </div>
                </div>
                <div class="show-part">
                    <h1 class="text-center">学生风采</h1>
                    <div class="border-down"></div>
                    <div class="col-md-6">
                        <img class="img-responsive picture" src="{% static 'sources/img/6661.jpg' %}"/>
                    </div>
                    <div class="col-md-6">
                        <h3 class="show-text">第十届“蓝桥杯”全国软件和信息技术专业人才大赛</h3>
                        <p class="show-text sz15">
                            第十届“蓝桥杯”全国软件和信息技术专业人才大赛全国总决赛颁奖典礼在北京大学举行。我校信息科学技术学院派出25名选手参加比赛，最终24人获奖！
                            其中，JAVA 软件开发大学B组获得二等奖1项、三等奖1项，C/C++程序设计大学B组获得二等奖7项、三等奖4项、优秀奖11项。
                        </p>
                        <p class="show-text sz15 mgb30">
                            本届大赛由工业和信息化部主办,共有来自全国31个省、市、自治区1200 多所高校的6万余名选手报名参加个人赛的角逐。
                            我校信息科学技术学院共有145名学生报名参赛，经过省赛筛选后，25名学生进入国赛总决赛。
                        </p>
                        <a href="#" class="btn-custom">了解更多</a>
                    </div>
                </div>
            </div>
            <div class="row mgb30 mgt10 text-center">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
    </div>
    <!--学生风采结束-->

    <!--新闻通知公告-->
    <div class="board light-black">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12 information-list">
                    <h2>获奖新闻</h2>
                    <hr>
                    {% for new in news_list %}
                        <a href="/news/news_detail?p={{ new.pk }}">{{ new.title }}<span
                                class="riqi"> {{ new.created_time }}</span></a>
                    {% empty %}
                        <span>暂无更多新闻</span>
                    {% endfor %}
                    <span><a href="/news/news_list/">查看全部>></a></span>
                </div>

                <div class="col-md-6 col-sm-12 information-list">
                    <h2>通知公告</h2>
                    <hr>
                    {% for inform in informs_list %}
                        <a href="/news/informs_detail?p={{ inform.pk }}">{{ inform.title }}<span
                                class="riqi">{{ inform.create_time }}</span></a>
                    {% empty %}
                        <h3>暂无更多公告</h3>
                    {% endfor %}
                    <span><a href="/news/informs_list/">查看全部>></a></span>
                </div>

            </div>
            <div class="row">
                <div style="height: 50px;"></div>
            </div>
        </div>
    </div>
    <!--新闻通知公告结束-->

    <!--相关比赛-->
    <div class="board deep-black">
        <div class="container">
            <div class="row">
                <h2 class="text-center">相关比赛</h2>
                <div class="border-down"></div>
                {% for show_com in show_com_list %}
                    <div class="col-md-3 col-sm-6">
                        <div class="table-bordered">
                            <img class="img-responsive" src="/media/{{ show_com.series_id.photo }}"
                                 alt="logo">
                            <div class="member">
                                <h3>{{ show_com.com_name }}</h3>
                                <p class="mgb30">{{ show_com.series_id.introduction|truncatechars:120 }}......</p>
                                <a class="btn-custom-short"
                                   href="/competition/com_detail?com_id={{ show_com.com_id }}">更多详情</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <h4>暂无进行中比赛</h4>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer">
        地址：广东惠州市演达大道46号 邮编：516007<br>
        总机：0752-2529000 E-mail:webmaster@hzu.edu.cn<br>
        版权所有©惠州学院 粤ICP备********号
    </footer>
{% endblock %}

<!--js文件加载-->
{% block js %}
    <script>
        $(function () {
            var tmp = 0;
            function f() {
                $(".show-part").eq(tmp).show();
            }
            f();
            var time = setInterval(function () {
                $(".show-part").eq(tmp).hide();
                tmp = tmp == 2 ? 0 : tmp + 1;
                $(".show-part").eq(tmp).show();
            }, 3000);
        })
    </script>
{% endblock %}


