{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="UTF-8">
    <title>学科竞赛|登录</title>
    <link href="{% static 'sources/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'sources/css/chickennoodleStyle.css' %}" rel="stylesheet">
</head>
<body>
<div class="board">
    <div class="container">
        <div class="row text-center mg100auto">
            <img src="/media/web_photo/hzxy.png">
            <form id="login" action="/login/" method="post">
                <div class="head">
                    用户登录
                </div>
                {% csrf_token %}
                <div class="body">
                    <p>账 号: <input name="username" type="text" class="edit" autocomplete="off"></p>
                    <p>密 码: <input name="password" type="password" class="edit"></p>
                    <button class="btn-custom" type="submit">登录</button>
                    <p class="warn">用户名或密码错误</p>
                </div>
            </form>
        </div>
    </div>
</div>
<footer id="footer">
    地址：广东惠州市演达大道46号 邮编：516007<br>
    总机：0752-2529000 E-mail:webmaster@hzu.edu.cn<br>
    版权所有©惠州学院 粤ICP备********号
</footer>
</body>
<script src="{% static 'sources/js/jquery.min.js' %}"></script>
<script src="{% static 'sources/js/bootstrap.min.js' %}"></script>
</html>