{% extends 'base.html' %}
{% load staticfiles %}
{% load cache %}

{% block title %}
    学科竞赛|竞赛报名
{% endblock %}

{% block is_activate5 %}
    active
{% endblock %}

{% block content %}
    <div id="op-success" class="head-board end-board">
        <div class="container">
            <div class="glyphicon glyphicon-ok-circle bright-green sz256"></div>
            <h1>操作成功</h1>
            <h4>赛出成绩，赛出水平，赛出风格！</h4>
            <h5><a href="/student/personal_center_stu_apply" class="link-a under-line">点此</a>查看报名信息</h5>
            <div class="text-center mgt30">
                <a class="btn-custom " href="/home/">返回首页</a>
            </div>
        </div>
    </div>
{% endblock %}