{% extends 'base.html' %}
{% load staticfiles %}
{% load cache %}

{% block title %}
    学科竞赛|比赛报名
{% endblock %}

{% block is_activate5 %}
    active
{% endblock %}

{% block content %}
    <div class="head-board">
        <div class="container">
            <!--警示栏 -->
            <!--
                <div class="row">
                    <div class="alert alert-success" role="alert">
                        你都报过名了，<a href="stu_myCtx.html" class="alert-link">点此查看</a>，别报了
                    </div>
                </div>
                -->
            <div class="row white-border mgb30">
                <p class="title-text pdr20">{{ com_info.com_name }}报名<a href="/competition/com_list/"
                                                                        class="link-a pull-right">✖</a></p>
                <form id="apply" action="/competition/com_apply_first/?id={{ com_info.com_id }}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12"><h2>学生信息</h2></div>
                    {% for num in stu_num %}
                        {% if num == 1 %}
                            <div class="sz18 col-md-4 mgt10">
                                学生({{ forloop.counter }})：<input type="text" class="edit xuanren"
                                                                 name="stu_num{{ num }}"
                                                                 readonly value="{{ leader.stu_number }}">
                            </div>
                        {% else %}
                            <div class="sz18 col-md-4 mgt10">
                                学生({{ forloop.counter }})：<input type="text" class="edit xuanren" data-toggle="modal"
                                                                 data-target="#myModal" name="stu_num{{ num }}"
                                                                 readonly>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-md-12"><h2>指导教师</h2></div>
                    {% for tea in tea_num %}
                        <div class="sz18 col-md-8">
                            指导教师({{ forloop.counter }}):<input type="text" class="edit xuanren2 half-width"
                                                               name="tea_name{{ tea }}" data-toggle="modal"
                                                               data-target="#myModal2" readonly>
                        </div>
                    {% endfor %}
                    <div class="col-md-12"><h2>小组信息</h2></div>
                    {% if info_list.com_group %}
                        <div class="sz18 col-md-4">
                            组别:
                            <select name="group" class="edit half-width">
                                {% for group in group_list %}
                                    <option value="{{ group.sort_name }}">
                                        {{ group.sort_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if info_list.group_name == 1 %}
                        <div class="sz18 col-md-4 mgt10">
                            小组名称:<input type="text" class="edit" name="group_name">
                        </div>
                    {% endif %}
                    {% if info_list.product_name == 1 %}
                        <div class="sz18 col-md-4 mgt10">
                            作品名称:<input type="text" class="edit" name="product_name">
                        </div>
                    {% endif %}
                    {% if info_list.else_info == 1 %}
                        <div class="sz18 col-md-4 mgt10">
                            备注:<input type="text" class="edit" name="else_info">
                        </div>
                    {% endif %}
                    <div class="col-md-12">
                        <button type="submit" class="btn-custom block mg50-ub">下一步</button>
                    </div>
                </form>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content deep-black">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">查找成员</h4>
                            </div>
                            <div class="modal-body sz16 child-inline">
                                <div>请输入姓名:</div>
                                <p id="back_fill" style="display: none;"></p>
                                <input id="mate_name" type="text" class="edit">
                                <button id="mate_button" class="btn-custom-short mgl10" onclick="search_name()">查找
                                </button>
                            </div>
                            <div class="sz14 mgt10">
                                <p>小贴士：</p>
                                <p>1. 请不要使用360垃圾浏览器</p>
                                <p>2. 请不要乱打老师名字</p>
                                <p>3. 老师名字记不完整你就别报了</p>
                                <p>4. 团队赛报名最好跟老师多bb</p>
                            </div>
                            <div id="find-result">
                                查找结果：
                                <table id="mate_list" class="table">

                                </table>
                            </div>
                        </div>
                        <script>
                            function cc(temp) {
                                var hang = $(temp.parentNode).parent().prevAll().length;

                                var str = "#mate_list tr:eq(" + hang + ") td:nth-child(1)";
                                var back_name = $("#back_fill").text();
                                var a = document.getElementsByName(back_name);
                                a[0].value = $(str).text();
                                $("#mate_list").empty();
                                $("#mate_name").val("");
                            }

                            function search_name() {
                                var name = $("#mate_name").val();
                                var url = "/competition/select_mate_first?name=" + name;
                                $.ajax({
                                    type: 'get',
                                    url: url,
                                    data: {},
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data["mate_list"].length > 0) {
                                            var mate_list = data["mate_list"];
                                            var myHtml = "<tr><td>学号</td><td>姓名</td><td>班级</td><td>选择</td></tr>";
                                            for (var i = 0; i < mate_list.length; i++) {
                                                var tmp = mate_list[i];
                                                var pk = tmp.pk;
                                                var name = tmp.fields.stu_name;
                                                var num = tmp.fields.stu_num;
                                                var sClass = tmp.fields.grade + tmp.fields.major + tmp.fields.stu_class;
                                                myHtml += "<tr><td>" + pk + "</td><td>" + name + "</td><td>" + sClass + "</td><td><button data-toggle=\"modal\"\n" +
                                                    "                                            data-target=\"#myModal\" onclick=\"cc(this)\" class=\"btn-custom-short\">是你了</button></td></tr>";
                                            }
                                            $("#mate_list").html(myHtml);
                                        } else {
                                            $("#mate_list").empty();
                                            alert("无查找结果");
                                        }
                                    },
                                    error: function (error) {
                                        alert('error');
                                    }
                                })
                            }
                        </script>
                        <script>
                            $(document).ready(function () {
                                $(".xuanren").click(function () {
                                    $("#back_fill").text(this.name);
                                })
                            })
                        </script>
                        <script>
                        </script>
                        <div class="modal-footer">
                            <a class="btn-custom-short" data-dismiss="modal">取消</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content deep-black">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">指导教师</h4>
                        </div>
                        <div class="modal-body sz16 child-inline">
                            <div>请输入老师姓名:
                                <p id="back_fill2" style="display: none;"></p>
                                <input id="mate_name2" type="text" class="edit">
                                <button id="mate_button" class="btn-custom-short mgl10" value="查找"
                                        onclick="search_name2()">查找
                                </button>
                            </div>
                            <div id="find-result">
                                查找结果：
                                <table id="mate_list2" class="table">

                                </table>
                            </div>
                        </div>
                        <script>
                            function ccc(temp) {
                                var hang = $(temp.parentNode).parent().prevAll().length;
                                var lie = 2;
                                var str = "#mate_list2 tr:eq(" + hang + ") td:nth-child(1)";
                                var back_name = $("#back_fill2").text();
                                var a = document.getElementsByName(back_name);
                                a[0].value = $(str).text();
                                $("#mate_list2").empty();
                                $("#mate_name2").val("");
                            }

                            function search_name2() {
                                var name = $("#mate_name2").val();
                                var url = "/competition/select_mate_second?name=" + name;
                                $.ajax({
                                    type: 'get',
                                    url: url,
                                    data: {},
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data["mate_list2"].length > 0) {
                                            var mate_list2 = data["mate_list2"];
                                            var myHtml = "<tr><td>工号</td><td>姓名</td><td>学院</td><td>邮箱</td><td>操作</td></tr>";
                                            for (var i = 0; i < mate_list2.length; i++) {
                                                var tmp = mate_list2[i];
                                                var pk = tmp.pk;
                                                var name = tmp.fields.tea_name;
                                                var dpm = tmp.fields.department;
                                                var sClass = tmp.fields.email;
                                                myHtml += "<tr><td>" + pk + "</td><td>" + name + "</td><td>" + dpm + "</td><td>" + sClass + "</td><td><button data-toggle=\"modal\"\n" +
                                                    "                                            data-target=\"#myModal2\" onclick=\"ccc(this)\" class=\"btn-custom-short\">是你了</button></td></tr>";
                                            }
                                            $("#mate_list2").html(myHtml);
                                        } else {
                                            $("#mate_list2").empty();
                                            alert("无查找结果");
                                        }
                                    },
                                    error: function (error) {
                                        alert('error');
                                    }
                                })
                            }
                        </script>
                        <script>
                            $(document).ready(function () {
                                $(".xuanren2").click(function () {
                                    $("#back_fill2").text(this.name);
                                })
                            })
                        </script>
                        <script>
                        </script>
                        <div class="modal-footer">
                            <a class="btn-custom-short" data-dismiss="modal">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}