{% extends 'base.html' %}
{% load staticfiles %}
{% load cache %}

{% block title %}
    学科竞赛|竞赛报名
{% endblock %}

{% block is_activate5 %}
    active
{% endblock %}

{% block content %}
    <div class="head-board">
        <div class="container">
            <div class="row white-border mgb30">
                <p class="title-text pdr20">报名信息确认<a href="/competition/com_list/"
                                                     class="link-a pull-right">✖</a></p>
                <form id="apply" action="/competition/com_apply_second/?id={{ info_list.com_id }}" method="POST">
                    {% csrf_token %}
                    {% for stu in stu_list %}
                        <div class="col-md-12"><h2>学生信息（{{ forloop.counter }}）</h2></div>
                        {% if info_list.stu_num %}
                            <div class="sz18 col-md-4">
                                学号：<input type="text" class="edit" name="stu_num{{ forloop.counter }}" readonly
                                          value="{{ stu.stu_number }}">
                            </div>
                        {% endif %}
                        {% if info_list.stu_name %}
                            <div class="sz18 col-md-4 mgt10">
                                姓名：<input type="text" class="edit" readonly value="{{ stu.stu_name }}">
                            </div>
                        {% endif %}
                        {% if info_list.ID_number %}
                            <div class="sz18 col-md-4 mgt10">
                                身份证号：<input type="text" class="edit" readonly value="{{ stu.ID_number }}">
                            </div>
                        {% endif %}
                        {% if info_list.sex %}
                            <div class="sz18 col-md-4 mgt10">
                                性别：<input type="text" class="edit" readonly value="{{ stu.sex }}">
                            </div>
                        {% endif %}
                        {% if info_list.depart %}
                            <div class="sz18 col-md-4 mgt10">
                                院系：<input type="text" class="edit" readonly value="{{ stu.department.depart_name }}">
                            </div>
                        {% endif %}
                        {% if info_list.major %}
                            <div class="sz18 col-md-4 mgt10">
                                专业：<input type="text" class="edit" readonly value="{{ stu.major.major_name }}">
                            </div>
                        {% endif %}
                        {% if info_list.grade %}
                            <div class="sz18 col-md-4 mgt10">
                                年级：<input type="text" class="edit" readonly value="{{ stu.grade.grade_name }}">
                            </div>
                        {% endif %}
                        {% if info_list.stu_class %}
                            <div class="sz18 col-md-4 mgt10">
                                班级：<input type="text" class="edit" readonly value="{{ stu.stu_class.class_name }}">
                            </div>
                        {% endif %}
                        {% if info_list.email %}
                            <div class="sz18 col-md-4 mgt10">
                                邮件：<input type="text" class="edit" readonly value="{{ stu.email }}">
                            </div>
                        {% endif %}
                        {% if info_list.phone_num %}
                            <div class="sz18 col-md-4 mgt10">
                                联系方式：<input type="text" class="edit" readonly value="{{ stu.phone_number }}">
                            </div>
                        {% endif %}
                        {% if info_list.bank_number %}
                            <div class="sz18 col-md-4 mgt10">
                                银行卡号：<input type="text" class="edit" readonly value="{{ stu.bank_number }}">
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if info_list.tea_num %}
                        {% for teacher,i in teach_list %}
                            <div class="col-md-12"><h2>指导教师（{{ forloop.counter }}）</h2></div>
                            <div class="sz18 col-md-4 mgt10">工号：<input name="tea_name{{ i }}" class="edit" readonly
                                                                       value="{{ teacher.tea_number }}"></div>
                            <div class="sz18 col-md-4 mgt10">姓名：<input class="edit" readonly
                                                                       value="{{ teacher.tea_name }}"></div>
                            <div class="sz18 col-md-4 mgt10">院系：<input class="edit" readonly
                                                                       value="{{ teacher.department.depart_name }}"></div>
                            <div class="sz18 col-md-4 mgt10">邮箱:<input class="edit" readonly value="{{ teacher.email }}">
                            </div>
                        {% endfor %}
                    {% endif %}


                    <div class="col-md-12"><h2>小组信息</h2></div>

                    {% if info_list.group_name %}
                        <div class="sz18 col-md-4 mgt10">
                            小组名称：<input type="text" class="edit" name="group_name" readonly value="{{ group_name }}">
                        </div>
                    {% endif %}

                    {% if info_list.com_group %}
                        <div class="sz18 col-md-4 mgt10">
                            组别：<input type="text" class="edit" name="group" readonly value="{{ group.sort_name }}">
                        </div>
                    {% endif %}

                    {% if info_list.product_name %}
                        <div class="sz18 col-md-4 mgt10">
                            作品名称：<input type="text" class="edit" name="product_name" readonly
                                        value="{{ product_name }}">
                        </div>
                    {% endif %}

                    {% if info_list.else_info %}
                        <div class="sz18 col-md-4 mgt10">
                            备注：<input type="text" class="edit" name="else_info" readonly value="{{ else_info }}">
                        </div>
                    {% endif %}

                    <div class="col-md-12">
                        <button type="submit" class="btn-custom block mg50-ub">确认提交</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}