{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="head-board">
        <div class="container">
            <div class="row">
                {% if change_flag == 1 %}
                    <div class="alert alert-success" role="alert">
                        你已经提交过申请，<a href="#" class="alert-link" data-toggle="modal" data-target="#myModal">点此查看</a>，等待审核通过即可修改信息，无需重复提交。多次提交按最新一次提交信息为准
                    </div>
                {% endif %}
            </div>
            <div class="row white-border mgb30">
                <p class="title-text">修改信息申请</p>
                <form id="apply" action="/student/alter_ness_info_stu/" method="post">
                    {% csrf_token %}
                    <div class="sz16 col-md-3">学号:<h4>{{ stu_info.stu_number }}</h4></div>
                    <div class="sz16 col-md-3">姓名:<h4>{{ stu_info.stu_name }}</h4></div>
                    <div class="sz16 col-md-3">性别:<input name="sex" class="edit mg10" type="text"
                                                         value="{{ stu_info.sex }}"></div>
                    <div class="sz16 col-md-3">
                        学院:
                        <select class="edit select" name="depart">
                            {% for depart in depart_info %}
                                {% if stu_info.department.depart_name == depart.depart_name %}
                                    <option value="{{ depart.depart_name }}" selected>{{ depart.depart_name }}</option>
                                {% else %}
                                    <option value="{{ depart.depart_name }}">{{ depart.depart_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sz16 col-md-3">
                        专业:
                        <select class="edit select" name="major">
                            {% for major in major_info %}
                                {% if stu_info.major.major_name == major.major_name %}
                                    <option value="{{ major.major_name }}" selected>{{ major.major_name }}</option>
                                {% else %}
                                    <option value="{{ major.major_name }}">{{ major.major_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sz16 col-md-3">
                        年级:
                        <select class="edit select" name="grade">
                            {% for grade in grade_info %}
                                {% if stu_info.grade.grade_name == grade.grade_name %}
                                    <option value="{{ grade.grade_name }}" selected>{{ grade.grade_name }}</option>
                                {% else %}
                                    <option value="{{ grade.grade_name }}">{{ grade.grade_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sz16 col-md-3">
                        班级:
                        <select class="edit select" name="stu_class">
                            {% for stu_class in class_info %}
                                {% if stu_info.stu_class.class_name == stu_class.class_name %}
                                    <option value="{{ stu_class.class_name }}"
                                            selected>{{ stu_class.class_name }}</option>
                                {% else %}
                                    <option value="{{ stu_class.class_name }}">{{ stu_class.class_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% if change_flag != 1 %}
                        <div class="col-md-12">
                            <button type="submit" class="btn-custom block mg50-ub">提交</button>
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            <button type="submit" class="btn-custom block mg50-ub" disabled>提交</button>
                        </div>
                    {% endif %}
                </form>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog " role="document">
                    <div class="modal-content deep-black">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">修改详情</h4>
                        </div>
                        <div class="modal-body sz14 child-inline">
                            <!--学号-->
                            {% if change_stu.stu_number.stu_number != stu_info.stu_number %}
                                <div>学号：<h5 class="line-through">{{ stu_info.stu_number }}</h5><h5
                                        class="bright-green">{{ change_stu.stu_number.stu_number }}</h5></div>
                            {% else %}
                                <div>学号：<h5>{{ stu_info.stu_number }}</h5></div>
                            {% endif %}
                            <!--姓名-->
                            {% if change_stu.stu_number.stu_name != stu_info.stu_name %}
                                <div>姓名：<h5 class="line-through">{{ stu_info.stu_name }}</h5><h5
                                        class="bright-green">{{ change_stu.stu_number.stu_name }}</h5></div>
                            {% else %}
                                <div>姓名：<h5>{{ stu_info.stu_name }}</h5></div>
                            {% endif %}
                            <!--性别-->
                            {% if change_stu.sex != stu_info.sex %}
                                <div>性别：<h5 class="line-through">{{ stu_info.sex }}</h5><h5
                                        class="bright-green">{{ change_stu.sex }}</h5>
                                </div>
                            {% else %}
                                <div>性别：<h5>{{ stu_info.sex }}</h5></div>
                            {% endif %}
                            <!--身份账号-->
                            {% if change_stu.ID_number != stu_info.ID_number %}
                                <div>身份账号：<h5 class="line-through">{{ stu_info.ID_number }}</h5><h5
                                        class="bright-green">{{ change_stu.ID_number }}</h5>
                                </div>
                            {% else %}
                                <div>身份账号：<h5>{{ stu_info.ID_number }}</h5></div>
                            {% endif %}
                            <!--院系-->
                            {% if change_stu.stu_number.department.depart_name != stu_info.department.depart_name %}
                                <div>院系：<h5 class="line-through">{{ stu_info.department.depart_name }}</h5><h5
                                        class="bright-green">{{ change_stu.stu_number.department.depart_name }}</h5>
                                </div>
                            {% else %}
                                <div>院系：<h5>{{ stu_info.department.depart_name }}</h5></div>
                            {% endif %}
                            <!--专业-->
                            {% if change_stu.major.major_name != stu_info.major.major_name %}
                                <div>专业：<h5 class="line-through">{{ stu_info.major.major_name }}</h5><h5
                                        class="bright-green">{{ change_stu.major.major_name }}</h5>
                                </div>
                            {% else %}
                                <div>专业：<h5>{{ stu_info.major.major_name }}</h5></div>
                            {% endif %}
                            <!--年级-->
                            {% if change_stu.grade.grade_name != stu_info.grade.grade_name %}
                                <div>年级：<h5 class="line-through">{{ stu_info.grade.grade_name }}</h5><h5
                                        class="bright-green">{{ change_stu.grade.grade_name }}</h5>
                                </div>
                            {% else %}
                                <div>年级：<h5>{{ stu_info.grade.grade_name }}</h5></div>
                            {% endif %}
                            <!--班级-->
                            {% if change_stu.stu_class.class_name != stu_info.stu_class.class_name %}
                                <div>班级：<h5 class="line-through">{{ stu_info.stu_class.class_name }}</h5><h5
                                        class="bright-green">{{ change_stu.stu_class.class_name }}</h5>
                                </div>
                            {% else %}
                                <div>班级：<h5>{{ stu_info.stu_class.class_name }}</h5></div>
                            {% endif %}

                            <div class="modal-footer">
                                <button type="submit" class="btn-custom-short" data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'sources/js/chickennoodleScript.js' %}"></script>
{% endblock %}