{% extends 'student/personal_center/base.html' %}
{% load staticfiles %}

{% block current2 %}
    current
{% endblock %}

{% block body %}
    <div class="col-md-10 white-border-left">
        <div class="row white-border-bottom">
            <p class="title-text">我的消息</p>
        </div>
        <div id="myMsg">
            <div class="row pdl20">
                <h3 class="gray-border-bottom pdr20 pdb30"><span class="glyphicon glyphicon-envelope mgr10 "></span>消息列表
                    <button class="btn-custom-short pull-right"><span
                            class="glyphicon glyphicon-share-alt mgr10"></span>全标已读
                    </button>
                </h3>
                {% for imform in page_of_informs.object_list %}
                    <div class="msg-piece">
                        <p class="invisible">{{ imform.pk }}</p>
                        <h4 class="inline-block">
                            {% if imform.status == '0' %}
                                <span class="label label-success mgr10">未读</span>
                            {% endif %}
                            {{ imform.title }}
                        </h4>
                        <p class="inline-block pull-right mgt10">
                            {% if imform.From_acc == 'None' or imform.From_acc == None %}
                                系统自动消息
                            {% else %}
                                {{ imform.From_acc }}
                            {% endif %}
                            <br> {{ imform.create_time }}</p>
                        <h5>{{ imform.content|truncatechars:7 }}......</h5>
                    </div>
                {% empty %}
                    <p class="empty-tip">这里空空如也，连黄鼠狼都不光顾~</p>
                {% endfor %}
                <!--分页器开始-->
                <div class="row pd1030">
                    <nav id="apart" aria-label="Page navigation">
                        <ul class="pagination">
                            {# 上一页 #}
                            <li>
                                {% if page_of_informs.has_previous %}
                                    <a href="?page={{ page_of_informs.previous_page_number }}" class="next-page"
                                       aria-label="Next">
                                        <span aria-hidden="true" style="">< 上一页</span>
                                    </a>
                                {% else %}
                                    <a href="#" class="next-page" aria-label="Next">
                                        <span aria-hidden="true" style="">< 上一页</span>
                                    </a>
                                {% endif %}
                            </li>
                            {# 上一页结束 #}
                            {# 正文 #}
                            <li>
                                {% for page_num in page_range %}
                                    {% if page_num ==  page_of_informs.number %}
                                        <a href="#" class="current">{{ page_num }}</a>
                                    {% else %}
                                        {% if page_num == '...' %}
                                            <a href="#">{{ page_num }}</a>
                                        {% else %}
                                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </li>
                            {# 正文结束 #}
                            {# 下一页 #}
                            <li>
                                {% if page_of_informs.has_next %}
                                    <a href="?page={{ page_of_informs.next_page_number }}" class="next-page"
                                       aria-label="Next">
                                        <span aria-hidden="true">下一页 ></span>
                                    </a>
                                {% else %}
                                    <a href="#" class="next-page" aria-label="Next">
                                        <span aria-hidden="true">下一页 ></span>
                                    </a>
                                {% endif %}
                            </li>
                            {# 下一页结束 #}
                        </ul>
                    </nav>
                </div>
                <!--分页器结束-->
            </div>
        </div>

        <div id="myMsg-show">

            <div class="row">
                <div class="pd50100">
                    <h4>{{ inform.content }}</h4>
                    <p class="pull-right sz18">

                    </p>
                </div>
            </div>

            <div class="row white-border-top">
                <div class="text-center pd1030">
                    <a id="msg-back" class="link-a">点击返回</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'sources/js/chickennoodleScript.js' %}"></script>
    <script>
        $(function () {
            $(".msg-piece").click(function () {
                //拿数据
                var n = $(".msg-piece").index($(this));
                var id = $(".msg-piece:eq(" + n + ") .invisible:eq(0)").text();
                //日期和发送者
                var myhtml = $(".msg-piece:eq(" + n + ") .pull-right:eq(0)").html();
                $("#myMsg-show p").html(myhtml);
                $.ajax({
                    type: 'get',
                    //查询链接，传一个id
                    url: '/student/message_detail?p=' + id,
                    //返回一个字符串
                    dataType: 'json',
                    //获取成功就更新详情页面
                    success: function (data) {
                        //拿到text直接放上去了
                        $("#myMsg-show h4").text(data['inform']);

                    }
                })
            })
        });
    </script>
{% endblock %}