{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|获奖新闻
{% endblock %}

{% block is_activate2 %}
    active
{% endblock %}

{% block content %}
    <div class="head-board end-board">
        <div class="container">
            <div id="news-title">
                <div class="green-circle">
                    <div class="glyphicon glyphicon-star"></div>
                </div>
                <h1>获奖新闻</h1>
            </div>
            <div class="row">
                <!--新闻列表-->
                <div id="news-list" class="col-md-9">
                    {% for news in page_of_news.object_list %}
                        <div class="panel panel-default news-member">
                            <div class="panel-body">
                                <img src="/media/{{ news.new_photo }}" class="img-responsive"/>
                                <h3>{{ news.title }}</h3>
                                <!--
                                <p>第十届“蓝桥杯”全国软件和信息技术专业人才大赛全国总决赛颁奖典礼在北京大学举行。我校信息科学技术学院派出25名选手参加比赛，最终24人获奖！ 其中，JAVA
                                    软件开发大学B组获得二等奖1项、三等奖1项，C/C++程序设计大学B组获得二等奖7项、三等奖4项、优秀奖11项。</p>
                                    -->
                                <a class="btn btn-custom" href="/news/news_detail?p={{ news.pk }}">了解详情</a>
                            </div>
                            <div class="panel-footer">
                                <span><i class="glyphicon glyphicon-time"></i>{{ news.last_update_time }}</span>
                                <span><i class="glyphicon glyphicon-pencil"></i>{{ news.author }}</span>
                            </div>
                        </div>
                    {% empty %}
                        <div class="blog">
                            <h3>暂无新闻，敬请期待</h3>
                        </div>
                    {% endfor %}
                </div>
                <!--其他入口-->
                <div class="col-md-3">
                    <h3>搜索</h3>
                    <form action="" method="post">
                        <input type="text" class="edit" name="" placeholder="查询">
                        <button type="submit" class="btn-custom-short none-border"><span
                                class="glyphicon glyphicon-search"></span></button>
                    </form>
                    <div id="other-entrance">
                        <h3 class="mgt30">其他入口</h3>
                        <a href="/news/informs_list/" class="btn btn-custom-short">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span>通知公告</span>
                        </a>
                        <a href="/competition/series_list/" class="btn btn-custom-short">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span>竞赛一览</span>
                        </a>
                        <a href="/competition/com_list/" class="btn btn-custom-short">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            <span>比赛报名</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'sources/js/chickennoodleScript.js' %}"></script>
{% endblock %}
