{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block content %}
    <div class="head-board">
        <div class="container">
            <div class="row white-border mgb30">
                <div class="col-md-2 ">
                    <div class="list-home">
                        <a class="{% block current1 %}{% endblock %}"
                           href="/teacher/personal_center_teach_info"><span
                                class="glyphicon glyphicon-pencil mgr10"></span>个人信息</a>
                        <a class="{% block current2 %}{% endblock %}"
                           href="/teacher/personal_center_teach_message"><span
                                class="glyphicon glyphicon-envelope mgr10"></span>我的消息<span
                                class="badge mgl10">4</span></a>
                        <a class="{% block current3 %}{% endblock %}"
                           href="/teacher/personal_center_teach_apply"><span
                                class="glyphicon glyphicon-list-alt mgr10"></span>指导申请<span
                                class="badge mgl10">1</span></a>
                        <a class="{% block current4 %}{% endblock %}"
                           href=href="/teacher/personal_center_teach_experience"><span
                                class="glyphicon glyphicon-time mgr10"></span>历届指导</a>
                    </div>
                </div>
                <!--
                    <a href="/student/personal_center_stu_award/"
                       class="list-group-item {% block per_activate4 %}{% endblock %}">
                        <span class="glyphicon glyphicon-bookmark"></span>获奖情况
                    </a>
                    -->
                {% block body %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
