<!DOCTYPE html>
{% load staticfiles %}
{% load cache %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'sources/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'sources/css/chickennoodleStyle.css' %}" rel="stylesheet">
    <!-- 插入css -->
    {% block css %}{% endblock %}
</head>

<body>
<!--导航栏-->
<header>
    <nav id="nav" class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="{% static 'sources/img/logo.png' %}" id="logo"/>
            </div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block is_activate1 %}{% endblock %}">
                        <a href="/home/">首页</a>
                    </li>
                    <li class="{% block is_activate2 %}{% endblock %}">
                        <a href="/news/news_list/">获奖新闻</a>
                    </li>
                    <li class="{% block is_activate3 %}{% endblock %}">
                        <a href="/news/informs_list/">通知公告 </a>
                    </li>
                    <li class="{% block is_activate4 %}{% endblock %}">
                        <a href="/competition/series_list/">竞赛一览</a>
                    </li>
                    <li class="{% block is_activate5 %}{% endblock %}">
                        <a href="/competition/com_list/">比赛报名</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right mgr10">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-envelope"></span></a>
                        <ul id="msg-list" class="dropdown-menu menu-list">
                            <li>
                                <a class="sz20 ">
                                    消息标题<span class="pull-right sz14">2019-09-25</span>
                                    <p class="sz14">消息内容消息内容消息内容...</p>
                                </a>
                            </li>
                            <li>
                                <a class="sz14">
                                    查看全部>>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if request.session.is_login and request.session.user_power == '0' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ request.session.user_number }}
                                <span class="caret"></span></a>
                            <ul id="menu" class="dropdown-menu menu-list">
                                <li><a href="/student/personal_center_stu_info/">个人信息</a></li>
                                <li><a href="/student/personal_center_stu_message/">消息</a></li>
                                <li><a href="/student/personal_center_stu_apply/">竞赛</a></li>
                                <li><a href="/student/personal_center_stu_experience/">参赛历史</a></li>
                                <!--<li><a href="/student/personal_center_stu_award/">我的奖项</a></li>-->
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout/">登出</a></li>
                            </ul>
                        </li>
                    {% elif request.session.is_login and request.session.user_power == '1' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ request.session.user_number }}
                                <span class="caret"></span></a>
                            <ul id="menu" class="dropdown-menu menu-list">
                                <li role="separator" class="divider"></li>
                                <li><a href="/teacher/personal_center_teach_info">个人信息</a></li>
                                <li><a href="/teacher/personal_center_teach_message/">消息</a></li>
                                <li><a href="/teacher/personal_center_teach_apply">申请</a></li>
                                <li><a href="/teacher/personal_center_teach_team">参赛名单</a></li>
                                <!--
                                <li><a href="/teacher/personal_center_teach_award">获奖结果</a></li>
                                <li><a href="/teacher/personal_center_teach_record">指导记录</a></li>
                                -->
                                <li><a href="/teacher/personal_center_teach_experience">历届指导</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout/">登出</a></li>
                            </ul>
                        </li>
                    {% elif request.session.is_login and request.session.user_power == '5' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ request.session.user_number }}
                                <span class="caret"></span></a>
                            <ul id="menu" class="dropdown-menu menu-list">
                                <li role="separator" class="divider"></li>
                                <li><a href="/member/add_com/">发布比赛</a></li>
                                <li><a href="/member/add_notices/">发布公告</a></li>
                                <li><a href="/member/add_news/">发布新闻</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/member/my_com_ing/">进行中的比赛</a></li>
                                <li><a href="/member/my_com_ed/">历届比赛</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/member/notice_comanage/">公告管理</a></li>
                                <li><a href="/member/news_comanage/">新闻管理</a></li>
                                <li><a href="/member/my_series/">竞赛系列管理</a></li>
                                <li><a href="/member/my_coms/">比赛管理</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/member/msg_application">个人信息修改申请</a></li>
                                <li><a href="/member/apply_application">参赛信息修改申请</a></li>
                                <li><a href="/member/add_com/">获奖证书上传</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">历届获奖统计表</a></li>
                                <li><a href="#">获奖统计图表</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout/">登出</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <!--<li><a href="#" class="glyphicon glyphicon-envelope"></a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">用户
                                <span class="caret"></span></a>
                            <ul id="menu" class="dropdown-menu menu-list">
                                <li role="separator" class="divider"></li>
                                <li><a href="/login/">登录</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--导航栏结束-->

<!-- 页面插入处 -->
{% block content %}

{% endblock %}
<!-- 页面结束 -->

<!--底部-->
{% block footer %}

{% endblock %}
<!--底部结束-->

</body>

<script src="{% static 'sources/js/jquery.min.js' %}"></script>
<script src="{% static 'sources/js/bootstrap.min.js' %}"></script>
<!--js文件加载-->
{% block js %}{% endblock %}

</html>