{% extends 'member/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="col-md-9">
        <div id="com-right" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">发布竞赛</h3>
            </div>
            <div class="panel-body">
                <form action="/member/add_series/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <span>竞赛名称：</span>
                    <input type="text" class="form-control" name="series_name">
                    <br>
                    <span>简介：</span>
                    <input type="text" class="form-control" name="series_intro">
                    <br>
                    <span>竞赛LOGO：</span><input type="file" name="series_logo">
                    <br>
                    <span>类型：
                    <select class="edit" name="series_type">
                        <option value="0">个人赛</option>
                        <option value="1">团体赛</option>
                    </select>
                    </span>
                    <br><br>
                    <div class="zuihouanniu">
                        <input type="submit" class="btn-custom" value="发布"/>
                    </div>

                </form>
            </div>

        </div>
    </div>
{% endblock %}