{% extends 'member/base.html' %}
{% load staticfiles %}

{% block current9 %}
    current
{% endblock %}

{% block body %}
    <div class="col-md-9">
        <div id="com-right" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">个人信息修改申请</h3>
            </div>
            <div class="panel-body">
                {% for pre_stu, msg_stu in msg_stu_list %}
                    <div class="row com-contest-piece">
                        <h4>申请人：{{ msg_stu.stu_number.stu_name }}</h4>
                        <span>修改内容：<a class="link-a bright-green" data-toggle="modal"
                                      data-target="#stu{{ msg_stu.pk }}">点击查看</a></span><br>
                        <span>提交时间：{{ msg_stu.created_time }}</span><br>
                        <a href="/member/msg_application_agree?p1=0&p2={{ msg_stu.pk }}"
                           class="btn-custom-short pull-right">同意</a>
                        <a href="/member/msg_application_disagree?p1=0&p2={{ msg_stu.pk }}"
                           class="btn-custom-short pull-right">拒绝</a>
                    </div>
                    <div class="modal fade" id="stu{{ msg_stu.pk }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content deep-black">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">修改详情</h4>
                                </div>
                                <div class="modal-body sz14 child-inline">

                                    {% if msg_stu.stu_number.stu_number != pre_stu.stu_number %}
                                        <div>学号：<h5 class="line-through">{{ pre_stu.stu_number }}</h5><h5
                                                class="bright-green">{{ msg_stu.stu_number.stu_number }}</h5></div>
                                    {% else %}
                                        <div>学号：<h5>{{ msg_stu.stu_number.stu_number }}</h5></div>
                                    {% endif %}
                                    <!--姓名-->
                                    {% if msg_stu.stu_number.stu_name != pre_stu.stu_name %}
                                        <div>姓名：<h5 class="line-through">{{ pre_stu.stu_name }}</h5><h5
                                                class="bright-green">{{ msg_stu.stu_name }}</h5></div>
                                    {% else %}
                                        <div>姓名：<h5>{{ msg_stu.stu_name }}</h5></div>
                                    {% endif %}
                                    <!--性别-->
                                    {% if msg_stu.sex != pre_stu.sex %}
                                        <div>性别：<h5 class="line-through">{{ pre_stu.sex }}</h5><h5
                                                class="bright-green">{{ msg_stu.sex }}</h5>
                                        </div>
                                    {% else %}
                                        <div>性别：<h5>{{ msg_stu.sex }}</h5></div>
                                    {% endif %}
                                    <!--身份账号-->
                                    {% if msg_stu.ID_number != pre_stu.ID_number %}
                                        <div>身份账号：<h5 class="line-through">{{ pre_stu.ID_number }}</h5><h5
                                                class="bright-green">{{ msg_stu.ID_number }}</h5>
                                        </div>
                                    {% else %}
                                        <div>身份账号：<h5>{{ msg_stu.ID_number }}</h5></div>
                                    {% endif %}
                                    <!--院系-->
                                    {% if msg_stu.stu_number.department.depart_name != pre_stu.department.depart_name %}
                                        <div>院系：<h5 class="line-through">{{ pre_stu.department.depart_name }}</h5><h5
                                                class="bright-green">{{ msg_stu.stu_number.department.depart_name }}</h5>
                                        </div>
                                    {% else %}
                                        <div>院系：<h5>{{ msg_stu.department.depart_name }}</h5></div>
                                    {% endif %}
                                    <!--专业-->
                                    {% if msg_stu.major.major_name != pre_stu.major.major_name %}
                                        <div>专业：<h5 class="line-through">{{ pre_stu.major.major_name }}</h5><h5
                                                class="bright-green">{{ msg_stu.major.major_name }}</h5>
                                        </div>
                                    {% else %}
                                        <div>专业：<h5>{{ msg_stu.major.major_name }}</h5></div>
                                    {% endif %}
                                    <!--年级-->
                                    {% if msg_stu.grade.grade_name != pre_stu.grade.grade_name %}
                                        <div>年级：<h5 class="line-through">{{ pre_stu.grade.grade_name }}</h5><h5
                                                class="bright-green">{{ msg_stu.grade.grade_name }}</h5>
                                        </div>
                                    {% else %}
                                        <div>年级：<h5>{{ msg_stu.grade.grade_name }}</h5></div>
                                    {% endif %}
                                    <!--班级-->
                                    {% if msg_stu.stu_class.class_name != pre_stu.stu_class.class_name %}
                                        <div>班级：<h5 class="line-through">{{ pre_stu.stu_class.class_name }}</h5><h5
                                                class="bright-green">{{ msg_stu.stu_class.class_name }}</h5>
                                        </div>
                                    {% else %}
                                        <div>班级：<h5>{{ msg_stu.stu_class.class_name }}</h5></div>
                                    {% endif %}

                                    <div class="modal-footer">
                                        <button type="submit" class="btn-custom-short" data-dismiss="modal">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                {% for pre_teach, msg_teach in msg_teach_list %}
                    <div class="row com-contest-piece">
                        <h4>申请人：{{ msg_teach.teach_number.tea_name }}</h4>
                        <span>修改内容：<a class="link-a bright-green" data-toggle="modal"
                                      data-target="#teach{{ msg_teach.pk }}">点击查看</a></span><br>
                        <span>提交时间：{{ msg_teach.created_time }}</span><br>
                        <a href="/member/msg_application_agree?p1=1&p2={{ msg_teach.pk }}"
                           class="btn-custom-short pull-right">同意</a>
                        <a href="/member/msg_application_disagree?p1=1&p2={{ msg_teach.pk }}"
                           class="btn-custom-short pull-right">拒绝</a>
                    </div>
                    <div class="modal fade" id="teach{{ msg_teach.pk }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content deep-black">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">修改详情</h4>
                                </div>
                                <div class="modal-body sz14 child-inline">
                                    {% if msg_teach.teach_number.tea_number != pre_teach.tea_number %}
                                        <div>工号：<h5 class="line-through">{{ pre_teach.tea_number }}</h5><h5
                                                class="bright-green">{{ msg_teach.teach_number.tea_number }}</h5>
                                        </div>
                                    {% else %}
                                        <div>工号：<h5>{{ pre_teach.tea_number }}</h5></div>
                                    {% endif %}
                                    <!--姓名-->
                                    {% if msg_teach.tea_name != pre_teach.tea_name %}
                                        <div>姓名：<h5 class="line-through">{{ pre_teach.tea_name }}</h5><h5
                                                class="bright-green">{{ msg_teach.tea_name }}</h5></div>
                                    {% else %}
                                        <div>姓名：<h5>{{ pre_teach.tea_name }}</h5></div>
                                    {% endif %}
                                    <!--院系-->
                                    {% if msg_teach.department.depart_name != pre_teach.department.depart_name %}
                                        <div>院系：<h5 class="line-through">{{ pre_teach.department.depart_name }}</h5><h5
                                                class="bright-green">{{ msg_teach.department.depart_name }}</h5>
                                        </div>
                                    {% else %}
                                        <div>院系：<h5>{{ pre_teach.department.depart_name }}</h5></div>
                                    {% endif %}
                                    <!--职称-->
                                    {% if msg_teach.profess.profess_name != pre_teach.profess.profess_name %}
                                        <div>职称：<h5 class="line-through">{{ pre_teach.profess.profess_name }}</h5><h5
                                                class="bright-green">{{ msg_teach.profess.profess_name }}</h5>
                                        </div>
                                    {% else %}
                                        <div>职称：<h5>{{ pre_teach.profess.profess_name }}</h5></div>
                                    {% endif %}

                                    <div class="modal-footer">
                                        <button type="submit" class="btn-custom-short" data-dismiss="modal">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}