{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block content %}
    <div class="head-board end-board">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static '/media/web_photo/touxiang.png' %}"
                                 class="img-responsive com-sculpture">
                        </div>
                        <p class="sz20 mg0">学科竞赛委员会</p>
                        <p class="sz10 mg0">信息科学技术学院</p>
                        <p class="sz10">修改密码 | 登出</p>
                    </div>


                    <div id="com-left">

                        <div class="item">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span>发布</span>
                            <a href="/member/add_com/" class="msg-a {% block current1 %}{% endblock %}">
                                <li class="com-xuanzhong">发布比赛</li>
                            </a>
                            <a class="msg-a {% block current2 %}{% endblock %}" href="/member/add_news/">
                                <li>发布新闻</li>
                            </a>
                            <a class="msg-a {% block current14 %}{% endblock %}" href="/member/add_notices/">
                                <li>发布公告</li>
                            </a>
                        </div>

                        <div class="item">
                            <span class="glyphicon glyphicon-knight"></span>
                            <span>竞赛</span>
                            <a class="msg-a {% block current3 %}{% endblock %}" href="/member/my_com_ing/">
                                <li>进行中的竞赛</li>
                            </a>
                            <a class="msg-a {% block current4 %}{% endblock %}" href="/member/my_com_ed/">
                                <li>历届竞赛</li>
                            </a>
                        </div>

                        <div class="item">
                            <span class="glyphicon glyphicon-wrench"></span>
                            <span>管理</span>
                            <a class="msg-a {% block current5 %}{% endblock %}" href="/member/notice_comanage/">
                                <li>公告管理</li>
                            </a>
                            <a class="msg-a {% block current6 %}{% endblock %}" href="/member/news_comanage/">
                                <li>新闻管理</li>
                            </a>
                            <a class="msg-a {% block current7 %}{% endblock %}" href="/member/my_series/">
                                <li>竞赛系列管理</li>
                            </a>
                            <a class="msg-a {% block current8 %}{% endblock %}" href="/member/my_coms/">
                                <li>比赛管理</li>
                            </a>
                        </div>

                        <div class="item">
                            <span class="glyphicon glyphicon-education"></span>
                            <span>审核</span>
                            <a class="msg-a {% block current9 %}{% endblock %}" href="/member/msg_application">
                                <li>个人信息修改请求</li>
                            </a>
                            <a class="msg-a {% block current10 %}{% endblock %}" href="/member/apply_application">
                                <li>参赛信息修改请求</li>
                            </a>
                            <a class="msg-a {% block current11 %}{% endblock %}" href="">
                                <li>获奖证书上传</li>
                            </a>
                        </div>

                        <div class="item">
                            <span class="glyphicon glyphicon-stats"></span>
                            <span>统计</span>
                            <a class="msg-a {% block current12 %}{% endblock %}">
                                <li>历届获奖统计</li>
                            </a>
                            <a class="msg-a {% block current13 %}{% endblock %}">
                                <li>获奖统计图表</li>
                            </a>
                        </div>

                    </div>

                </div>

                <!--页面主体-->
                {% block body %}

                {% endblock %}

            </div>
        </div>
    </div>
{% endblock %}

