{% extends 'member/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="col-md-9">
        <div id="com-right" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">修改比赛信息</h3>
            </div>
            <div class="panel-body">
                <form action="/member/change_com/?p={{ com_info.com_id }}" method="POST">
                    {% csrf_token %}
                    <span>比赛系列: </span>
                    <select class="edit" name="com_name">
                        {% for series in series_list %}
                            {% if com_info.series_id == series %}
                                <option value="{{ series.id }}" selected>{{ series.name }}</option>
                            {% else %}
                                <option value="{{ series.id }}">{{ series.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <span>届数：<input type="text" class="edit mg10 width5" name="com_number" value="{{ jieshu }}"></span>
                    <br>
                    <span>报名开始时间：<input type="datetime-local" class="edit time-choose" name="begin_regit"
                                        value="{{ begin_regit }}"></span><br><br>
                    <span>报名结束时间：<input type="datetime-local" class="edit time-choose" name="end_regit"
                                        value="{{ end_regit }}"></span><br><br>
                    <span>比赛开始时间：<input type="datetime-local" class="edit time-choose" name="begin_time"
                                        value="{{ begin_time }}"></span><br><br>
                    <span>比赛结束时间：<input type="datetime-local" class="edit time-choose" name="end_time"
                                        value="{{ end_time }}"></span><br><br>
                    <h3>比赛信息:</h3>
                    <h3>比赛信息:</h3>
                    <div class="form-group">
                        {% if sort_list %}
                            组别：<input type="checkbox" name="if_com_sort" value="1" checked>
                            <input type="text" name="sort_list" class="edit" value="{{ sort_list }}"/>
                        {% else %}
                            组别：<input type="checkbox" name="if_com_sort" value="1">
                            <input type="text" name="sort_list" class="edit"/>
                        {% endif %}
                        Tips:格式：xxx/xxx/xxx
                    </div>
                    <div class="form-group">
                        {% if com_info.if_web != 0 %}
                            官网：<input type="checkbox" name="if_if_web" value="1" checked>
                            <input type="text" class="edit" name="com_web" value="{{ com_info.com_web }}"/>
                        {% else %}
                            官网：<input type="checkbox" name="if_if_web" value="1">
                            <input type="text" class="edit"  name="com_web"/>
                        {% endif %}
                        Tips:输入前请记得打钩!
                    </div>
                    <div class="form-group">
                        指导教师数量：<input type="number" name="num_teach" value="{{ com_info.num_teach }}" class="edit"/>
                        小组学生数量：<input type="number" name="num_stu" value="{{ com_info.num_stu }}" class="edit"/>
                    </div>
                    <div class="form-group">
                        {% if com_info.need_full == 1 %}
                            是否小组需要满员：<input type="checkbox" name="need_full" value="1" checked>
                        {% else %}
                            是否小组需要满员：<input type="checkbox" name="need_full" value="1">
                        {% endif %}

                        {% if com_info.same_stu == 1 %}
                            是否学生可以重复参加：<input type="checkbox" name="same_stu" value="1" checked>
                        {% else %}
                            是否学生可以重复参加：<input type="checkbox" name="same_stu" value="1">
                        {% endif %}
                    </div>


                    <h3>学生信息:</h3>
                    <div class="form-group">
                        {% if com_need.stu_num == 1 %}
                            学号：<input type="checkbox" name="stu_num" value="1" checked>
                        {% else %}
                            学号：<input type="checkbox" name="stu_num" value="1">
                        {% endif %}

                        {% if com_need.stu_name == 1 %}
                            姓名：<input type="checkbox" name="stu_name" value="1" checked>
                        {% else %}
                            姓名：<input type="checkbox" name="stu_name" value="1">
                        {% endif %}

                        {% if com_need.ID_number == 1 %}
                            身份证号：<input type="checkbox" name="stu_name" value="1" checked>
                        {% else %}
                            身份证号：<input type="checkbox" name="stu_name" value="1">
                        {% endif %}

                        {% if com_need.sex == 1 %}
                            性别：<input type="checkbox" name="stu_name" value="1" checked>
                        {% else %}
                            性别：<input type="checkbox" name="stu_name" value="1">
                        {% endif %}

                    </div>
                    <div class="form-group">
                        {% if com_need.depart == 1 %}
                            院系：<input type="checkbox" name="depart" value="1" checked>
                        {% else %}
                            院系：<input type="checkbox" name="depart" value="1">
                        {% endif %}


                        {% if com_need.major == 1 %}
                            专业：<input type="checkbox" name="major" value="1" checked>
                        {% else %}
                            专业：<input type="checkbox" name="major" value="1">
                        {% endif %}


                        {% if com_need.grade == 1 %}
                            年级：<input type="checkbox" name="grade" value="1" checked>
                        {% else %}
                            年级：<input type="checkbox" name="grade" value="1">
                        {% endif %}


                        {% if com_need.stu_class == 1 %}
                            班级：<input type="checkbox" name="stu_class" value="1" checked>
                        {% else %}
                            班级：<input type="checkbox" name="stu_class" value="1">
                        {% endif %}

                    </div>
                    <div class="form-group">
                        {% if com_need.email == 1 %}
                            邮箱：<input type="checkbox" name="email" value="1" checked>
                        {% else %}
                            邮箱：<input type="checkbox" name="email" value="1">
                        {% endif %}


                        {% if com_need.phone_num == 1 %}
                            手机号码：<input type="checkbox" name="phone_num" value="1" checked>
                        {% else %}
                            手机号码：<input type="checkbox" name="phone_num" value="1">
                        {% endif %}


                        {% if com_need.bank_number == 1 %}
                            银行号码：<input type="checkbox" name="bank_number" value="1" checked>
                        {% else %}
                            银行号码：<input type="checkbox" name="bank_number" value="1">
                        {% endif %}


                        {% if com_need.else_info == 1 %}
                            其他：<input type="checkbox" name="else_info" value="1" checked>
                        {% else %}
                            其他：<input type="checkbox" name="else_info" value="1">
                        {% endif %}

                    </div>


                    <h3>竞赛小组信息:</h3>
                    <div class="form-group">
                        {% if com_need.group_name == 1 %}
                            组名：<input type="checkbox" name="group_name" value="1" checked>
                        {% else %}
                            组名：<input type="checkbox" name="group_name" value="1">
                        {% endif %}

                        {% if com_need.product_name == 1 %}
                            作品名称：<input type="checkbox" name="product_name" value="1" checked>
                        {% else %}
                            作品名称：<input type="checkbox" name="product_name" value="1">
                        {% endif %}
                    </div>

                    <input type="submit" class="btn-custom" value="发布"/>
                </form>
            </div>

        </div>
    </div>
{% endblock %}