{% extends 'member/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="col-md-9">
        <div id="com-right" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">公告修改</h3>
            </div>
            <div class="panel-body">
                <br>
                <form action="/member/change_notice/?p={{ notice.pk }}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 class="inline-block">标题: </h4>
                    <input class="edit half-width" type="text" name="title" value="{{ notice.title }}"/>
                    <!--这里放富文本编辑器-->
                    {{ form.media }}
                    {{ form.as_p }}
                    <!--编辑器结束-->
                    <h4 class="inline-block">报名入口：</h4>
                    <select class="edit-select" name="com_id">
                        <option>无</option>
                        {% for com in com_list %}
                            {% if notice.com_id == com %}
                                <option value="{{ com.com_id }}" selected>{{ com.com_name }}</option>
                            {% else %}
                                <option value="{{ com.com_id }}">{{ com.com_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br><br>
                    <span>作者: </span>
                    <input class="edit half-width" type="text" name="author" value="{{ notice.author }}"/>
                    <br><br>
                    <span>上传附件：</span><input type="file" name="com_attach"/>
                    <br><br>
                    <div class="text-center">
                        <button class="btn-custom" type="submit">发布</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}