{% extends 'member/base.html' %}
{% load staticfiles %}

{% block current3 %}
    current
{% endblock %}

{% block body %}
    <div class="col-md-9">
        <div id="com-right" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">进行中的竞赛</h3>
            </div>
            <div class="panel-body">
                {% for com in com_list %}
                    <div class="row com-contest-piece">
                        <div class="geren">
                            <h3 class="bright-green">{{ com.com_name }}</h3>
                            <a href="/member/com_apply_detail?p={{ com.com_id }}"
                               class="btn-custom-short pull-right">详情</a>
                            <a href="/member/change_com?p={{ com.com_id }}" class="btn-custom-short pull-right">修改</a>
                            <span>比赛状态：{{ com.get_com_status_display }}</span>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}