{% extends 'member/base.html' %}
{% load staticfiles %}

{% block current8 %}
    current
{% endblock %}

{% block body %}
    <div class="col-md-9">
        <div id="com-right" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">比赛管理</h3>
            </div>

            <div class="panel-body">
                <a href="/member/add_com/" class="link-a sz20">点击添加+</a>
                <table class="table white-border-bottom mgt10">
                    <tbody>
                    <tr>
                        <td>序号</td>
                        <td>竞赛名称</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>

                    {% for coms in page_of_coms.object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ coms.com_name }}</td>
                            <td>{{ coms.get_com_status_display }}</td>
                            <td><a HREF="/member/change_com?p={{ coms.com_id }}" class="btn btn-custom-short">修改</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <nav id="apart" aria-label="Page navigation">
                    <ul class="pagination ">
                        {# 上一页 #}
                        <li>
                            {% if page_of_coms.has_previous %}
                                <a href="?page={{ page_of_coms.previous_page_number }}" aria-label="Previous"
                                   class="next-page">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <a aria-label="Previous" class="next-page">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}
                        </li>
                        {# 分页 #}
                        {% for page_num in page_range %}
                            {% if page_num ==  page_of_coms.number %}
                                <li><a class="current">{{ page_num }}</a></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><a>{{ page_num }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {# 下一页 #}
                        <li>
                            {% if page_of_coms.has_next %}
                                <a href="?page={{ page_of_coms.next_page_number }}" aria-label="Next"
                                   class="next-page">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <a aria-label="Next" class="next-page">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
{% endblock %}