{% extends 'member/base.html' %}
{% load staticfiles %}

{% block current1 %}
    current
{% endblock %}

{% block body %}
    <div class="col-md-9">
        <div id="com-right" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">发布竞赛</h3>
            </div>
            <div class="panel-body">
                <form action="/member/add_com/" method="POST">
                    {% csrf_token %}
                    <span>比赛系列: </span>
                    <select class="edit" name="com_name">
                        {% for series in series_list %}
                            <option value="{{ series.id }}">{{ series.name }}</option>
                        {% empty %}
                            <option>警告：暂无竞赛系列，请先发布竞赛系列。</option>
                        {% endfor %}
                    </select>
                    <br>
                    <span>届数：<input type="text" class="edit mg10 width5" value="" name="com_number"></span>
                    <br>
                    <span>报名开始时间：<input type="datetime-local" class="edit time-choose"
                                        name="begin_regit"></span><br><br>
                    <span>报名结束时间：<input type="datetime-local" class="edit time-choose" name="end_regit"></span><br><br>
                    <span>比赛开始时间：<input type="datetime-local" class="edit time-choose" name="begin_time"></span><br><br>
                    <span>比赛结束时间：<input type="datetime-local" class="edit time-choose" name="end_time"></span><br><br>
                    <h3>比赛信息:</h3>
                    <div class="form-group">
                        组别：<input type="checkbox" name="if_com_sort" value="1">
                        <input type="text" class="edit" name="sort_list"
                               style="width: 35%;display: inline-block;font-size: 20px;margin: 4px;border: 1px solid #666666;"/>
                        Tips:格式：xxx/xxx/xxx
                    </div>
                    <div class="form-group">
                        官网：<input type="checkbox" name="if_if_web" value="1">
                        <input type="text" class="edit" name="com_web"
                               style="width: 35%;display: inline-block;font-size: 20px;margin: 4px;border: 1px solid #666666;"/>
                        Tips:输入前请记得打钩!
                    </div>
                    <div class="form-group">
                        指导教师数量：<input type="number" class="edit" name="num_teach" value="1"
                                      style="width: 7%;display: inline-block;font-size: 20px;margin: 4px;border: 1px solid #666666;"/>
                        小组学生数量：<input type="number" class="edit" name="num_stu" value="1"
                                      style="width: 7%;display: inline-block;font-size: 20px;margin: 4px;border: 1px solid #666666;"/>
                    </div>
                    <div class="form-group">
                        是否小组需要满员：<input type="checkbox" name="need_full" value="1" checked>
                        是否学生可以重复参加：<input type="checkbox" name="same_stu" value="1">
                    </div>
                    <h3>学生信息:</h3>
                    <div class="form-group">
                        学号：<input type="checkbox" name="stu_num" value="1">
                        姓名：<input type="checkbox" name="stu_name" value="1">
                        身份证号：<input type="checkbox" name="stu_name" value="1">
                        性别：<input type="checkbox" name="stu_name" value="1">
                    </div>
                    <div class="form-group">
                        院系：<input type="checkbox" name="depart" value="1">
                        专业：<input type="checkbox" name="major" value="1">
                        年级：<input type="checkbox" name="grade" value="1">
                        班级：<input type="checkbox" name="stu_class" value="1">
                    </div>
                    <div class="form-group">
                        邮箱：<input type="checkbox" name="email" value="1">
                        手机号码：<input type="checkbox" name="phone_num" value="1">
                        银行号码：<input type="checkbox" name="bank_number" value="1">
                        其他：<input type="checkbox" name="else_info" value="1">
                    </div>
                    <h3>竞赛小组信息:</h3>
                    <div class="form-group">
                        组名：<input type="checkbox" name="group_name" value="1">
                        作品名称：<input type="checkbox" name="product_name" value="1">
                    </div>
                    <input type="submit" class="btn-custom" value="发布"/>
                </form>
            </div>

        </div>
    </div>
{% endblock %}